{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
        <a href="{% url 'dashboard:catalogue-artists-list' %}">{% trans "Artists" %}</a>
    </li>
    <li class="active">{% trans "Delete artist information and all his pictures?" %}</li>
</ul>
{% endblock %}

{% block headertext %}
    {{ title }}
{% endblock %}

{% block dashboard_content %}
    <!--{% if disallow %}-->
        <!--<p>{% trans "This artist have been assigned some paintings." %}</p>-->
    <!--{% else %}-->
        <div class="table-header">
            <h2>{% trans "Delete artist" %}</h2>
        </div>
        <form action="." method="post" class="well">
            {% csrf_token %}
            {{ form }}
            <p>
                {% blocktrans with name=object.first_name %}Delete artist <strong>{{ name }}</strong> - are you sure?{% endblocktrans %}
            </p>
            <div class="form-actions">
                <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
            {% trans "or" %} <a href="{% url 'dashboard:catalogue-artists-list' %}">{% trans "cancel" %}</a>
            </div>
        </form>
    <!--{% endif %}-->
{% endblock %}
