{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
        <a href="{% url 'dashboard:catalogue-group-options-attributes-list' %}">{% trans "Groups of attribute options" %}</a>
    </li>
    <li class="active">{% trans "Delete group of attribute options?" %}</li>
</ul>
{% endblock %}

{% block headertext %}
    {{ title }}
{% endblock %}

{% block dashboard_content %}
    {% if disallow %}
        <p>{% trans "Please make sure all products attributes are assigned to another types before deletion." %}</p>
    {% else %}
        <div class="table-header">
            <h2>{% trans "Delete group of attribute options" %}</h2>
        </div>
        <form action="." method="post" class="well">
            {% csrf_token %}
            {{ form }}
            <p>
                {% blocktrans with name=object.name %}Delete group of attribute options <strong>{{ name }}</strong> - are you sure?{% endblocktrans %}
            </p>
            <div class="form-actions">
                <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button>
            {% trans "or" %} <a href="{% url 'dashboard:catalogue-group-options-attributes-list' %}">{% trans "cancel" %}</a>
            </div>
        </form>
    {% endif %}
{% endblock %}
