{% extends 'dashboard/layout.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}
    {{ title }} | {% trans "Create product type" %} | {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} create-page{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:catalogue-group-options-attributes-list' %}">{% trans "Group of attribute options" %}</a>
        </li>
        <li class="active">{{ title }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <form class="form-stacked wysiwyg fixed-actions" method="post" data-behaviour="affix-nav-errors">
        {% csrf_token %}

        <div class="row">

            <!--{% block tab_nav %}-->
                <!--<div class="col-md-3">-->
                    <!--<div data-spy="affix" class="affix-top" data-offset-top="200">-->
                        <!--<div class="table-header">-->
                            <!--<h3>{% trans "Sections" %}</h3>-->
                        <!--</div>-->
                        <!--<ul class="nav nav-list bs-docs-sidenav" id="product_update_tabs">-->

                            <!--{% block tabs %}-->
                                <!--<li class="active"><a href="#product_class_details" data-toggle="tab">{% trans 'Product Class details' %}</a></li>-->
                                <!--<li><a href="#product_attributes" data-toggle="tab">{% trans 'Product attributes' %}</a></li>-->

                            <!--{% endblock tabs %}-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--{% endblock tab_nav %}-->

            <div class="col-md-12">
                <!--<div class="tab-content">-->
                    {% block group_of_options_details_and_attributes %}
                        <!--<div class="tab-pane active" id="product_class_details">-->
                            <div class="table-header">
                                <h3>{% trans "Group details" %}</h3>
                            </div>
                            <div class="well group-details">

                                {% comment %}
                                    If the GroupOptions form has field_errors, partials/form_fields.html
                                    will render an error message.
                                    This means that there'll be 2 error messages,
                                    one from the partial and one from the view. Perhaps there should be
                                    an option allowing hiding of the error message in the template.
                                    For now we copy paste what we need from the template.
                                {% endcomment %}

                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-error control-group error">
                                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                {% for field in form %}
                                    {% include 'dashboard/partials/form_field.html' with field=field %}
                                {% endfor %}
                            </div>
                            <div class="table-header">
                                <h3>{% trans "Attribute options" %}</h3>
                            </div>
                            <div class="attribute-options">
                                <table class="table table-striped table-bordered">
                                    {{ attribute_options_formset.management_form }}
                                    {{ attribute_options_formset.non_form_errors }}
                                    <col width="50%">
                                    <col width="50%">
                                    <thead>
                                        <tr>
                                            <th>{% trans "Name" %}</th>
                                            <th>{% trans "Delete?" %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for attribute_options_form in attribute_options_formset %}
                                            <tr>
                                                {% for hidden_field in attribute_options_form.hidden_fields %}
                                                 {{ hidden_field }}
                                                {% endfor %}
                                                <td>{% include 'dashboard/partials/form_field.html' with field=attribute_options_form.option nolabel=True %}</td>
                                                <td>{% include 'dashboard/partials/form_field.html' with field=attribute_options_form.DELETE nolabel=True %}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        <!--</div>-->
                    {% endblock %}

                    <!--{% block product_attributes %}-->
                        <!--<div class="tab-pane" id="product_attributes">-->
                            <!-- -->
                        <!--</div>-->
                    <!--{% endblock %}-->
                <!--</div>-->
            </div>
        </div>

        {% block fixed_actions_group %}
            <div class="fixed-actions-group">
                <div class="form-actions">
                    <div class="pull-right">
                        <a href="#" onclick="window.history.go(-1);return false" >
                            {% trans "Cancel" %}
                        </a>
                        {% trans "or" %}
                        <button class="btn btn-large btn-primary" type="submit">
                            {% trans "Save" %}
                        </button>
                    </div>
                </div>
            </div>
        {% endblock fixed_actions_group %}
    </form>

{% endblock dashboard_content %}

<!--{% block onbodyload %}-->
    <!--{{ block.super }}-->
    <!--oscar.dashboard.product_attributes.init();-->
<!--{% endblock %}-->
