{% extends 'dashboard/layout.html' %}
{% load category_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block body_class %}{{ block.super }} catalogue{% endblock %}

{% block title %}
    {% trans "AttributeOptionGroups" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">{% trans "Groups of attribute options" %}</li>
    </ul>
{% endblock %}

{% block header %}
    <div class="page-header">
        <a href="{% url 'dashboard:catalogue-group-options-create' %}" class="btn btn-primary btn-lg pull-right"><i class="icon-plus"></i> {% trans "Create new attribute option group" %}</a>
        <h1>{% trans "Attribute Option Groups" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    <!--<div class="alert alert-info">-->
        <!--<p>{% trans "You are editing:" %}-->
        <!--</p>-->
    <!--</div>-->

    {% render_table attribute_option_groups %}

{% endblock dashboard_content %}
