{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    {% if pay_pal %}
       <div class="well">
            <div class="sub-header">
                <h3>{% trans "PayPal Express" %}</h3>
            </div>
            <p>{% trans "Click on the below icon to use Express Checkout but where the shipping address and method is already chosen on the merchant site." %}</p>
            <div style="overflow:auto"><a href="{% url 'paypal-direct-payment' %}" title="{% trans "Pay with PayPal" %}"><img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right:7px;"></a>&nbsp;</div>
        </div>

        <div class="well">
            <div class="sub-header">
                <h3>{% trans "PayPal PayFlow Pro" %}</h3>
            </div>
            <form method="post" action="{% url 'checkout:preview' %}" class="form-stacked">
                {% csrf_token %}
                <h4>{% trans "Bankcard" %}</h4>
                {% include "partials/form_fields.html" with form=bankcard_form %}
                <div class="form-actions">
                    <button type="submit" class="btn btn-large btn-primary">{% trans "Continue" %}</button>
                </div>
            </form>
        </div>
    {% else %}
        {% block payment_details_content %}
           <form action="{% url 'checkout:preview' %}" class="form-stacked" method="POST">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=bankcard_form %}
                <button type="submit" value="{% trans "Continue" %}" class="btn btn-primary btn-large">{% trans "Continue" %}</button>
            </form>
        {% endblock payment_details_content %}
    {% endif %}
{% endblock payment_details %}
