{% extends "checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "Payment method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Payment method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}

{% block payment_method %}
    <div class="basket-title">
        <div class="row">
            <h4 class="col-sm-11">{% trans "Method" %}</h4>
        </div>
    </div>
    {% for method in methods %}
        <div class="basket-items">
            <div class="row">
                <div class="col-sm-8">
                    <h4>{{ method }}</h4>
                </div>
                <div class="col-sm-3">
                    <form method="post" action="{% url 'checkout:payment-method' %}">
                        {% csrf_token %}
                        <input type="hidden" name="method_code" value="{{ method }}" />
                        <button type="submit" class="btn btn-lg btn-primary pull-right" data-loading-text="{% trans 'Submitting...' %}">{% trans "Select option" %}</button>
                    </form>
                </div>    
            </div>
        </div>
    {% endfor %}
{% endblock payment_method %}
